.movie-detailPage-container {
    background-color: #0d101d;
}

.general-container img {
    float: right;
    box-shadow: 2px 2px 10px #ffffff;
}

.container-movie-info {
    max-width: 50%;
    min-height: calc(100vh + 100px);
}

.container-movie-info h1 {
    text-align: center;
    font-size: 50px;
}

.container-movie-info>p {
    text-align: justify;
    font-size: small;
}

.container-movie-info>button {
    margin: 180px 0px 40px;
    color: #000;
    background-color: #fff;
}

.container-movie-info>button:hover {
    background-color: #000;
    color: #fff;
}